<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.welcome" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Welcome to the world of mobile</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <preference name="permissions" value="none"/>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.3" />
</widget>
